:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  height: 100%;
  max-height: 100%;
}

.virtual-scrolling {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  list-style: none;
  gap: 10px;
  padding: 10px 0;
  position: relative;
  min-height: 100%;
  align-items: stretch;
  overflow: hidden;
}

.data {
  height: 300px;
  width: 100%;
  position: absolute;
  will-change: top;
  padding: 5px 2px;
  transform-origin: 0 0;

  .inner {
    height: 100%;
    background-color: azure;
    border-radius: 10px;
    border: 1px solid black;
  }
}

button {
  position: fixed;
  top: 50px;
  right: 30px;
}

button:nth-of-type(2) {
  top: 80px;
}

button:last-of-type {
  top: 110px;
}
