<div class="virtual-scrolling" appDynamicVirtualScrolling [contentData]="data()">
  <ng-template #tmp let-item="item">
    @if(item.id < 10) {
      <div class="data" [attr.elementId]="item.id" style="max-height: 300px;">
        <div class="inner" >
          {{ item.data }}
        </div>
      </div>
    } @else {
      <div class="data" [attr.elementId]="item.id" style="max-height: 150px;">
        <div class="inner" >
          {{ item.data }}
        </div>
      </div>
    }
  </ng-template>
</div>

<!-- <div class="virtual-scrolling" style="height: 100%;">
  @for (item of data(); track $index) {
  <div class="data" style="position: static; min-height: 300px;">
    {{ item.data }}
  </div>
  }
</div> -->



<button (click)="changeData2()">Change data Top</button>
<button (click)="changeData()">Change data Bottom</button>
<button (click)="addData()">Add data</button>